*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

main{
    margin-left: 10px;
}

header{
    background-image: url("../img/pattern.png");
    background-color: #4ea0ff;
    height: 150px;
}

.logo{
    width: 200px;
    margin-top: 80px;
    margin-left: 10px
   }

.title{
    font-size: 70px;
    margin-top: 20px;
}

#skyblue{
    color: #1ba6e4;
}

.grey{
    font-family: 'Roboto', sans-serif;
    color: #adadad;
}

figure{ 
    margin-top: 20px;
}

.tim-image{
    width: 48%;
    max-height: 567px;
}

h3{
    margin-top: 30px;
}

.highlighted{
    background-color: yellow;
}

.list{
    margin-top: 20px;
    margin-left: 0%;
    padding-inline-start: 20px;
}

table{
    margin-top: 20px;
}

th, td{
    text-align: left;
    width: 600px;
    font-size: large;
}

thead{
    color: white;
    background-color: #20a9e5;
}

td{
    font-weight: bold;
}

.table-blue{
    background-color: #b1e5f2;
}

p.grey{
    font-size: 20px;
    margin-top: 40px;
    margin-left: 10px;
}

.bottom{
    margin-left: 10px;
    margin-top: 20px;
}

.related-img1{
    background-image: url("../img/monitor.jpg");
    height: 208px;
    font-weight: bold;
    color: white;
    padding: 10px;
    font-size: 28px;
    background-repeat: no-repeat;
}

.related-img2{
    margin-top: 20px;
    background-image: url("../img/graph.jpg");
    height: 208px;
    font-weight: bold;
    color: white;
    padding: 10px;
    font-size: 28px;
    background-repeat: no-repeat;
}